@using WebCvProject.Models.Entity
@model List<TblDeneyimlerim>

<div class="resume-section-content">
    <h2 class="mb-5">Deneyimlerim</h2>
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <i class="fas fa-briefcase fa-3x"></i> <!-- Veya başka bir iş ikonu seçebilirsin -->
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Baslik</h5>
                        <p class="card-text">@item.AltBaslik</p>
                        <p class="card-text text-justify">@item.Aciklama</p>
                        <p class="card-text"><small class="text-muted">@item.Tarih</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
