@using WebCvProject.Models.Entity
@model List<TblHobilerim>
<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@item.Aciklama1</h5>
                        <p class="card-text">@item.Aciklama2</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
