<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label>Ad Soyad *</label>
        <input type="text" name="AdSoyad" class="form-control" required/>

        <label>Mail *</label>
        <input type="text" name="Mail" class="form-control" required/>

        <label>Konu *</label>
        <input type="text" name="Konu" class="form-control" required/>

        <label>Mesaj *</label>
        <textarea name="Mesaj" cols="5" rows="5" class="form-control" required></textarea>
        <br />
        <button class="btn btn-info">Mesaj Gönderr</button>
    </form>
</div>