<div class="resume-section-content">
    <h2 class="mb-5">Ödüller & Sertifikalar</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="card mb-3" style="background-color: #f8f9fa;">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-trophy text-warning"></i> <a href="@item.Aciklama" target="_blank">@item.Aciklama</a></h5>
                        <p class="card-text">@item.Tarih</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
