@using WebCvProject.Models.Entity
@model List<TblSertifikalarim>
<div class="resume-section-content">
    <h2 class="mb-5">Ödüller & Sertifikalar</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-trophy text-warning"></i> @item.Aciklama</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
