@using WebCvProject.Models.Entity

@model List<TblYeteneklerim>
<div class="resume-section-content">
    <h3 align="left">Languages and Tools:</h3>
    <br />
    <style>
        .icon-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3px;
        }

            .icon-container img {
                margin-right: 0.3cm; /* 5 cm boşluk eklemek için */
            }
    </style>
    <div class="icon-container">
        <p align="left">
            <a href="https://www.w3schools.com/cs/" target="_blank" rel="noreferrer">
                <img id="csharp-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://dotnet.microsoft.com/" target="_blank" rel="noreferrer">
                <img id="dotnet-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" alt="dotnet" width="40" height="40" style="margin-bottom: 5px;" />
            </a>

            <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
                <img id="react-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">
                <img id="bootstrap-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
                <img id="css3-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
                <img id="html5-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer">
                <img id="javascript-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer">
                <img id="mongodb-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server" target="_blank" rel="noreferrer">
                <img id="mssql-icon" src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" alt="mssql" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.mysql.com/" target="_blank" rel="noreferrer">
                <img id="mysql-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.oracle.com/" target="_blank" rel="noreferrer">
                <img id="oracle-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg" alt="oracle" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://www.postgresql.org" target="_blank" rel="noreferrer">
                <img id="postgresql-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://postman.com" target="_blank" rel="noreferrer">
                <img id="postman-icon" src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://git-scm.com/" target="_blank" rel="noreferrer">
                <img id="git-icon" src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://sass-lang.com" target="_blank" rel="noreferrer">
                <img id="sass-icon" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
            <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer">
                <img id="tailwind-icon" src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-icon.svg" alt="tailwind" width="40" height="40" style="margin-bottom: 5px;" />
            </a>
    </div>
    </p>

    <script>
        const icons = document.querySelectorAll('.dev-icons img');

        icons.forEach(icon => {
            icon.addEventListener('mouseover', () => {
                icon.style.filter = 'brightness(1.5)';
            });

            icon.addEventListener('mouseout', () => {
                icon.style.filter = 'brightness(1)';
            });
        });
    </script>

    <div class="skills-section">
        <br />
        <h3 align="left" class="section-title">Becerilerim :</h3>
        <div class="skills-list">
            <ul class="fa-ul mb-0">
                @foreach (var item in Model)
                {
                    <li class="skill-item">
                        <span class="fa-li"><i class="fas fa-star"></i></span>
                        <span class="skill-name">@item.Yetenek</span>

                        <!-- Progress bar -->
                        <div class="progress skill-progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: @item.Oran%">@item.Oran%</div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </div>




</div>
